.uppercase-text {
    text-transform: uppercase;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    text-transform: uppercase;
}

input[pInputText],
textarea[pTextarea] {
    text-transform: uppercase;
}